<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<title>Academic Year</title>
</head>
<body>
	<div layout:fragment="content">

		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Academic Year</h1>

		</div>

		<div class="alert alert-success" role="alert" th:if="${param.success != null}">
		 	Academic Year has been successfully <span th:text="${param.success}"></span>.
		</div>

		<a th:href="@{/academicyears/showFormForAdd}"  class="btn btn-primary m-2">Add</a>
	
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>School Year</th>
						<th>Semester</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>

        
					<tr th:each="temp : ${academicYears}">					
						<td><span th:text="${temp.year}">School Year</span></td>
						<td><span th:text="${temp.semester}">Semester</span></td>
						<td class="text-center">

							
							<div class="btn-group-toggle" data-toggle="buttons" th:if="${temp.current}">
							  <label class="btn btn-sm btn-outline-success active">
							    <input type="checkbox"   autocomplete="off" > Selected
							  </label>
							</div>

							<div class="btn-group-toggle" data-toggle="buttons" th:if="${!temp.current}">
							  <label class="btn btn-sm btn-secondary active">
							    <a  class="text-white" th:href="@{/academicyears/select/{academicYearId}(academicYearId=${temp.id})}" > Select</a>
							  </label>
							</div>
							
						</td>
						<td>
							<div class="text-center btn-group-sm"
								style="color: white; display: flex; justify-content: space-evenly;">
			
								<div sec:authorize="hasRole('ROLE_ADMIN')">
									<a th:href="@{/academicyears/delete(academicYearId=${temp.id})}" class="btn-sm btn-danger"
									onclick="if (!(confirm('Are you sure you want to delete this Academic Year?'))) return false">Delete </a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

</body>

</html>