<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<title>Student Form</title>
</head>
<body>
	<div layout:fragment="content">

	 <h1 class="h2 pt-3 mb-3 pb-2 border-bottom">Certificate of Registration Form</h1>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
            <div class="col">
           
              <form action="#" th:action="@{/registrations/save}" th:object="${studentRegistration}"  method="POST" class="needs-validation" autocomplete="off">
               	<input type="hidden" th:field="*{id}" />
               	<input type="hidden" th:field="*{student}"  />
               	<input type="hidden" th:field="*{course}" />
               	<input type="hidden" th:field="*{academicYear}" />
               	<input type="hidden" th:field="*{registrar}"/>
               	<input type="hidden" th:field="*{assessmentOfficer}" />
               	<input type="hidden" th:field="*{cashier}" />
               	<input type="hidden" th:field="*{curriculumYear}" />
               	
               	<div th:if="${registered}">
               		<p style="color:red">Already registered!</p>
               	</div>
               	
               <div class="row">
                  <div class="col-md-3 mb-3">
                    <label>Student</label>
					 <input type="text" class="form-control text-secondary"  th:value="${studentStr}" disabled/>
					
				 </div>
                  <div class="col-md-3 mb-3">
                    <label>Course</label>
		
					 <input type="text" class="form-control text-secondary"  th:value="${courseStr}" disabled/>
                  </div>
                   <div class="col-md-3 mb-3">
                    <label>Major</label>
					 <input type="text" class="form-control text-secondary"  th:value="${courseMajorStr}" disabled/>
                  </div>                          
                   <div class="col-md-3 mb-3">
                    <label>Current Academic Year</label>				
					<input type="text" class="form-control text-secondary" th:value="${academicYearStr}" disabled/>
				 </div>
				 </div>
		 		 
				 <div class="row">
				 
				   <div class="col-md-4 mb-3">
                    <label for="dateOfRegistration">Date Of Registration</label>
                    <input
                      type="date"
                      class="form-control text-primary"
                      id="dateOfRegistration"
                      th:field="*{dateOfRegistration}"
                      required
                    />
 					<p style="color:red" th:if="${#fields.hasErrors('dateOfRegistration')}" th:errors="*{dateOfRegistration}"></p>
                  </div>
                  
                   <div class="col-md-6 mb-3">
                    <label for="">Student Year Level</label>
					<div class="input-group mb-3">
					  <div class="input-group-prepend" th:style="${edit} ? 'pointer-events: none;opacity: 0.4;' : ''">
					    <a class="btn btn-outline-secondary" th:classappend="${curriculumYearStr=='1st Year'} ? active : ''" th:href="@{/registrations/{action}(id=(${edit} ? ${studentRegistration.id} : ${studentId}),curriculumYear='1st Year', action=(${edit} ? 'showFormForUpdate' : 'showFormForAdd' ))}">1st Year </a>
					    <a class="btn btn-outline-secondary" th:classappend="${curriculumYearStr=='2nd Year'} ? active : ''" th:href="@{/registrations/{action}(id=(${edit} ? ${studentRegistration.id} : ${studentId}),curriculumYear='2nd Year', action=(${edit} ? 'showFormForUpdate' : 'showFormForAdd' ))}">2nd Year </a>
					    <a class="btn btn-outline-secondary" th:classappend="${curriculumYearStr=='3rd Year'} ? active : ''" th:href="@{/registrations/{action}(id=(${edit} ? ${studentRegistration.id} : ${studentId}),curriculumYear='3rd Year', action=(${edit} ? 'showFormForUpdate' : 'showFormForAdd' ))}">3rd Year </a>
					    <a class="btn btn-outline-secondary" th:classappend="${curriculumYearStr=='4th Year'} ? active : ''" th:href="@{/registrations/{action}(id=(${edit} ? ${studentRegistration.id} : ${studentId}),curriculumYear='4th Year', action=(${edit} ? 'showFormForUpdate' : 'showFormForAdd' ))}">4th Year </a>
					  </div>
					</div>			
					<p style="color:red" th:if="${#fields.hasErrors('curriculumYear')}" th:errors="*{curriculumYear}"></p>
                  </div>

    			 </div>
    			 <div class="row">
                    <div class="col-md-4 mb-3">
                    <label for="subject">Subject (press <code>ctrl</code> to click multiple subjects)</label>
					<select class="form-control text-primary" th:field="*{subjects}" size="15" multiple="multiple">
					    <option th:each="subject : ${subjects}"
					            th:value="${{subject}}"
					            th:text="${subject}">Subject Title</option>
					</select>
					<p style="color:red" th:if="${#fields.hasErrors('subjects')}" th:errors="*{subjects}"></p>
                  </div>
                  <div class="col-md-1 mb-3 ">
                  </div>
                <div class="col-md-5 mb-3 ">
                    <label for="payments">Payment Details</label>

					<table class="table">
					  <tbody class="text-muted">

						<tr>
					    	<th>Entrance</th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{entrance}"/></th>
					    </tr>
					    <tr>
					    	<th>No of Units: <span th:text="${totalUnits}"></span></th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{unitsPrice}"/></th>
					    </tr>
					    <tr>
					    	<th>Miscellaneous</th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{miscellaneous}"/></th>
					    </tr>
					     <tr>
					    	<th>Laboratory</th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{laboratory}"/></th>
					    </tr>
					    <tr>
					    	<th>Less</th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{evaluation}"/></th>
					    </tr>
		    				    
					    <tr>
					    	<th>Less</th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{less}"/></th>
					    </tr>
					   <tr>
					    	<th>Balance</th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{balance}"/></th>
					    </tr>
					    <tr>
					    	<th>Payment Per Exam</th>
					    	<th><input type="number" class="form-control form-control-sm" th:field="*{paymentPerExam}"/></th>
					    </tr>
					  </tbody>
					</table>
		            </div>
             </div>
                  

                <hr class="mb-4" />
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                  Save
                </button>
               
				</form>
				<br>
				 <a th:href="@{/registrations/list}" >Back to Registered List</a>
			</div>
	</div>
	</div>
</body>

</html>