<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<title>Course List</title>
</head>
<body>
	<div layout:fragment="content">

		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Courses</h1>

		</div>
			<form th:action="@{/courses/list}" method="GET">
				<div class="row">
				<div class="col-md-5">
					<input type="text" class="form-control form-control-dark w-100 border"
						placeholder="Seach course" 
						name="keyword" id="keyword" size="50" th:value="${keyword}"/>
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn  btn-outline-secondary">Search</button>
				</div>
				</div>
			</form>
		<a th:href="@{/courses/showFormForAdd}"  class="btn btn-primary m-2">Add</a>
	
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
					
						<th>Title</th>
						<th>Major</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

        
					<tr th:each="temp : ${courses}">
						
						<td><span th:text="${temp.title}">Title</span></td>
						<td><span th:text="${temp.major}">Major</span></td>
						<td>
							<div class="text-center btn-group-sm"
								style="color: white; display: flex; justify-content: space-evenly;">
								<a th:href="@{/courses/showFormForUpdate(courseId=${temp.id})}" class="btn-sm btn-warning">Edit </a> 
								<div sec:authorize="hasRole('ROLE_ADMIN')">
								<a th:href="@{/courses/delete(courseId=${temp.id})}" class="btn-sm btn-danger"
								onclick="if (!(confirm('Are you sure you want to delete this course?'))) return false"
								>Delete </a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>
</body>

</html>